html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;

  a{
    color: #ffffff;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ddd !important;
}