.btn-metro {
    color: $blue;
    font-size: 14px;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 2px;
    background-color: $yellow;

    &:hover {
        color: $yellow;
        background-color: $blue;
    }
}

.btn-forms {
    color: $white;
    border: none;
    border-radius: 2px;
    background-color: $blue;

    &:hover {
        color: #FFFFFF;
    }
}

.btn-link-clean {
    color: $yellow;
    border: none;
    border-radius: 2px;

    &:hover {
        color: #FFFFFF;
    }
}