/* === NAVBAR === */
.bg-white {
    background-color: #fff !important;
}

.nav-link {
    font-family: '$open', sans-serif;
    color: $blue !important;
    font-size: 14px;
    margin-left: 15px;

    &:hover {
        color: $yellow !important;
        transition: .3s;
    }
}