.agenda-border {
    padding: 50px;
    margin-top: 30px;
    border: 5px solid #233F94;

    @include celular {
        margin-top: 40px;
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;

    i {
        color: $blue;
        padding: 0 5em;
    }

    .fa-angle-left,
    .fa-angle-right {
        font-size: 1em;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: $blue !important;
    content: "";
}