/* === ÚLTIMAS-PROSPOSTAS === */
.proporsal-title {
    padding-bottom: 25px;
    text-transform: uppercase;
}

.block-text h5 {
    padding: .65em;
    font-size: 14px;
    color: #233F94;
    background-color: rgba(249, 193, 52, 0.85);
}

.last-proporsal {
    padding: 20px;
    margin-top: 40px;
    border: 5px solid #233F94;
}

.proporsal-gallery {
    margin-bottom: 30px;
}

.proporsal-gallery .block-text {
    top: 0;
    left: 15px;
    margin: 0;
    padding: .35em;
    position: absolute;
}

.proporsal-gallery .block-text small {
    display: block;
}