/* === ÚLTIMAS-PROSPOSTAS === */
.proporsal-title {
    padding-bottom: 25px;
    text-transform: uppercase;
}

.block-text h5 {
    padding: .65em;
    font-size: 24px;
    color: $white;
    // background-color: rgba(249, 193, 52, 0.85);
}

.last-proporsal {
    padding: 20px;
    margin-top: 40px;
    border: 5px solid #233F94;
}

.proporsal-gallery {
    margin-bottom: 30px;

    img {
        width: 100%;
        max-height: 400px;
    }
}

.proporsal-gallery .block-text {
    top: 0;
    left: 15px;
    margin: 0;
    padding: .35em;
    position: absolute;
}

.proporsal-gallery .block-text small {
    display: block;
}

.nav-pills .nav-link.active {
    border-radius: 0;
    color: #fff !important;
    background-color: #233F94;
}

.action-link {
    width: 350px;
    height: 120px;
    padding: 40px 40px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #12204A;

    a {
        color: #fff;
        text-decoration: none;
    }

    .description-l {
        top: 65px;
        left: 30px;
        padding-right: 40px;
        font-size: 12px;
        text-decoration: none;
        position: absolute;
    }

    .description-r {
        top: 20px;
        left: -15px;
        margin-right: -45px;
        font-size: 12px;
        text-decoration: none;
        position: relative;
    }
}

.action-paragraph {
    top: 25px;
    left: 30px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.posts-atuacao {
    .vc_grid-filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .vc_grid-filter-item {
            margin-left: 10px !important;
            padding: 3px 10px !important;
            border: 1px solid #F1B948 !important;
            border-radius: 0 !important;
    
            &.vc_active {
                background-color: #F1B948 !important;
            }
        }
        &:before {
            content: 'Filtrar por';
            font-family: $open;
            font-weight: normal;
            margin-right: 10px;
        }
    }
    .vc_grid-item {
        max-width: calc(50% - 30px);
        height: 100px;
        border: 1px solid #F1B948;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px !important;
    
        .meta-tag {
            font-family: $open;
            font-weight: bold;
            color: #F1B948;
            margin-bottom: 5px;
        }
    
        .vc_gitem-link {
            font-family: $poppins;
            font-weight: normal;
            color: #26325C;
        }
    
        &:after {
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #F1B948;
            float: right;
            margin-top: -55px;
            margin-right: 15px;
        }
    
        &:nth-child(odd) {
            margin-right: 30px;
            margin-bottom: 30px
        }
        
        &:hover {
            border: 1px solid #26325C;
            background-color: #26325C;
            .vc_gitem-link {
                color: white;
            }
        }
    }
}

#first-atuaction-post .vc_grid-item {
    width: 100% !important;
    height: 500px;

    .vc_gitem-zone-img, .vc_grid-item-mini, .vc_gitem-animated-block, .vc_gitem-zone, .vc_gitem-link {
        height: 100%;
    }

    .vc_gitem-animated-block {
        > .vc_gitem-zone:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, #26325C, rgba(0, 0, 0, 0));
            opacity: .7;
            mix-blend-mode: color;
            mix-blend-mode: hue;
            mix-blend-mode: hard-light;
        }
    }

    .vc_grid-item-mini > .vc_gitem-zone {
        background-color: transparent !important;
        max-width: 500px;
        padding: 30px;
        position: absolute;
        top: 0;

        .vc_btn3-container a {
            background-color: transparent !important;
            padding: 0;
            color: #F1B948;
            font-family: $open;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            &:after {
                content: '\f061';
                font-family: "Font Awesome 5 Free";
                color: #F1B948;
                font-weight: 600;
                font-size: 18px;
                margin-left: 10px;
            }
        }

        div[class*=post_title] > h4 {
            font-family: $poppins;
            font-style: normal;
            font-weight: bold;
            color: white;
        }

        div[class*=post_excerpt] {
            display: none;
        }
    }
}

.second-atuaction-post {
    .vc_grid-item {
        width: 50% !important;
        height: 250px;

        .vc_gitem-zone-img, .vc_grid-item-mini, .vc_gitem-animated-block, .vc_gitem-zone, .vc_gitem-link {
            height: 100%;
        }

        .vc_gitem-animated-block {
            > .vc_gitem-zone:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, #26325C, rgba(0, 0, 0, 0));
                opacity: .7;
                mix-blend-mode: color;
                mix-blend-mode: hue;
                mix-blend-mode: hard-light;
            }
        }
    
        .vc_grid-item-mini > .vc_gitem-zone {
            background-color: transparent !important;
            max-width: 500px;
            padding: 30px;
            position: absolute;
            top: 0;
    
            .vc_btn3-container a {
                background-color: transparent !important;
                padding: 0;
                color: #F1B948;
                font-family: $open;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
    
                &:after {
                    content: '\f061';
                    font-family: "Font Awesome 5 Free";
                    color: #F1B948;
                    font-weight: 600;
                    font-size: 18px;
                    margin-left: 10px;
                }
            }
    
            div[class*=post_title] > h4 {
                font-family: $poppins;
                font-style: normal;
                font-weight: bold;
                color: white;
            }
    
            div[class*=post_excerpt] {
                display: none;
            }
        }
    }
}

.post-navigation {
    .screen-reader-text {
        display: none;
    }
    .nav-links {
        display: flex;
        justify-content: space-between;
        a {
            font-family: $open;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            color: #F1B948;
         }
    }
}