/* === BANNER-BANDEIRAS === */
.bnr-txt-flags {
    height: 520px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #2a5298, #1e3c72);

    .topic-flags {
        padding-top: 165px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
}





/* === CHAMADAS-BANDEIRAS === */
#box-rounded-area {
    .box-area {
        margin-top: -200px !important;
        padding: 50px;
    }

    .box-area-row {
        background-color: #ffffff;
        border-radius: 20px;
        overflow: hidden;
        z-index: 1;
    }
}