/* === BANNER-BANDEIRAS === */
.bnr-tpc {
    height: 520px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../img/bg-page-title.jpg');

    .ttl-tpc {
        display: flex;
        font-size: 64px;
        color: $blue;
        padding-top: 165px;
        justify-content: center;
    }
}





/* === CHAMADAS-BANDEIRAS === */
#box-rounded-area {
    .box-area {
        margin-top: -200px !important;
        padding: 50px;
    }

    .box-area-row {
        background-color: #ffffff;
        border-radius: 0;
        overflow: hidden;
        z-index: 1;
    }
}



/* === GALERIA-BANDEIRAS === */
.gallery {
    ul {

        li {
            overflow: hidden;

            figure {
                position: relative;
                background: $white;

                &:hover {
                    a {
                        opacity: 1;
                    }

                    .overlay {
                        top: 0;
                    }
                }
            }

            figcaption {
                a {
                    text-align: center;
                    text-transform: uppercase;
                    position: absolute;
                    z-index: 2;
                    color: $white;
                    width: 100%;
                    top: 45%;
                    opacity: 0;
                }

                h3 {
                    color: $yellow;
                    font-size: 22px;
                    margin: 0;
                }

                // a,
                // .overlay {
                //     // transition: .8s;
                // }

                .overlay {
                    background-image: linear-gradient(60deg, $blue, $black);
                    opacity: .8;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    z-index: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


/* === CONHEÇA-MINHAS-PROPOSTAS === */

i {
    color: $yellow;
}