/* === BANNER === */
.banner-dpt {
    width: 100%;
    height: 674px;
    margin-top: 4em;
    position: relative;
    background: url('../img/bg-banner-deputado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;

    @include celular {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-position: top;
    }

    .text-banner {
        padding-top: 245px;

        @include celular {
            padding-top: 18vh;
            margin-top: 5em;
        }
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        line-height: 77px;
        text-align: right;

        @include celular {
            font-size: 42px;
            line-height: 42px;
            text-align: left;
        }
    }

    .text-slogan {
        color: $blue;
    }
}



#timeline {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: linear-gradient(#233F94, #12204A);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    @include celular {
        height: 325px;

        h2 {
            font-size: 24px;
        }
    }
}