body {
    > .container {
        margin-top: 77px;
    }
}

/* === BANNER === */
.banner-hero {
    width: 100%;
    height: 674px;
    margin-top: 4em;
    position: relative;
    background: url('../img/bg-banner-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;

    @include celular {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-position: top;
    }

    .text-banner {
        padding-top: 245px;

        @include celular {
            padding-top: 18vh;
            margin-top: 5em;
        }
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        line-height: 77px;
        text-align: right;

        @include celular {
            font-size: 42px;
            line-height: 42px;
            text-align: left;
        }
    }

    .text-slogan {
        color: $blue;
    }
}





/* === CHAMADAS === */
.sticky-hero {
    margin-top: -75px;
    display: block;

    @include celular {
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }

    .action-col {
        width: 100%;
        button, a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px;
            min-height: 150px;
            background-color: $yellow;
            font-family: $poppins;
            font-weight: $bold;
            font-size: 20px;
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            border-radius: 0;
            z-index: 999;

            &:hover {
                background-color: $blue;
                color: $yellow;
            }
        }
    }
}






/* === SOBRE === */
.about-border {
    padding: 40px;
    margin: 80px 0 80px 0;

    @include celular {
        margin-top: 40px;
    }
}

h2 {
    font-size: 48px
}

.p-align {
    margin: 1.5em 3em 2em 0;
}





/* === MÃDIA === */
#media {
    width: 100%;
    height: auto;
    padding: 40px;
    margin-top: 80px;
    background-image: url('../img/bg-eleitores.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    @include celular {
        margin-top: 60px;
    }

    h2 {
        color: $yellow !important;
    }

    h6 {
        padding-bottom: 5px;
    }

    a {
        text-decoration: none;
    }

    figure {
        display: block;

        img {
            width: 100%;
            max-height: 350px;
            display: block;
        }

        figcaption {
            font-family: $poppins;
            font-weight: $bold;
            color: $blue;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0;
            text-align: left;
        }

        .figure-caption {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 40px;
        }
    }
}






/* === BANDEIRAS === */
#flags {
    .img-flags {
        width: 100%;
        max-height: 320px;
        display: block;
    }

    .legend-flags {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        font-size: 14px;
    }

    i {
        color: $yellow;
    }

    figcaption {
        font-family: $poppins;
        font-weight: $bold;
        color: $blue;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: justify;
        text-align-last: left;
    }

    .figure-caption {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 20px;
    }
}





/* === NEWSLETTER === */
#newsletter {
    padding: 80px;
    background-color: $yellow;

    @include celular {
        padding: 40px 15px;
    }

    label {
        left: 0;
        bottom: 0;
        width: 100%;
        color: #6c757d;
        text-align: center;
        position: relative;
    }

    input,
    select,
    textarea {
        color: #000;
        overflow: hidden;
        border-width: 0 0 1px;
        border-bottom-color: #12204A;
    }
}

.shadow-title-sma {
    left: 8%;
    color: #000;
    opacity: 0.035;
    line-height: .8;
    font-size: 8.8em;
    font-weight: 700;
    margin-top: 15px;
    position: absolute;
    transform: translate(-100%, -25%);

    @include celular {
        transform: translate(-58%, -85%);
    }
}

.form-group {
    label {
        margin-left: 10px;
        display: flex;
        justify-items: flex-start;
    }

    .form-control {
        border-radius: 0;
        background-color: transparent;
        border: 1px solid #6c757d;

        @include placeholder {
            font-size: 15px;
            font-style: italic;
            color: #12204A;
            font-weight: 600;
        }
    }
}

.home {
    .vc_gitem_row > .vc_gitem-col > div:last-child {
        display: none;
    }

    .vc_gitem-zone .vc_gitem-col {
        padding: 40px !important;
    }

    .post-cat {
        font-family: $open;
        font-weight: $normal;
        font-size: 18px;
        color: $yellow;
        text-align: left !important;
        margin-bottom: 10px !important;

        &:hover {
            color: $yellow;
        }
    }

    .vc_gitem-post-category-name:hover {
        background-color: transparent !important;
        > span {
            color: $yellow !important;
            cursor: initial !important;
        }
    }

    .post-title h4 {
        font-family: $poppins;
        font-weight: $bold;
        font-size: 20px;
        color: $blue;
        text-transform: none !important;
    }
}

.home-form {
    text-align: center;
    input[type=email], input[type=tel] {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        height: 40px;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: transparent !important;
    }

    input[type=submit] {
        color: #F1B948 !important;
        font-family: "Open Sans", sans-serif !important;
        font-weight: 600;
        font-size: 18px;
        border: 1px solid #26325C;
        border-radius: 0;
        background-color: #26325C !important;
        padding: 10px 30px;
        text-align: center;

        &:hover {
            color: #26325C !important;
            background-color: #F1B948 !important;
            border-color: #F1B948;
        }
    }
}

.social-icons {
    a {
        color: $blue;
    }
}

.post-grid-home {
    div[class*=post_title] > h4 > a {
        font-family: $poppins;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #26325C;
    }
}