html { 
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ddd !important;
}

a {
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}