@import "./variables.scss";

h1,
h3,
h5 {
    font-family: $poppins;
    font-weight: $bold;
    color: $blue;
}

h2 {
    font-family: $poppins;
    font-weight: $bold;
    font-size: 48px;
    color: $blue;
}

h3 {
    font-family: $poppins;
    font-weight: $bold;
    font-size: 36px;
    color: $blue;
}

h4 {
    font-family: $open;
    font-weight: $semi-bold;
    font-size: 18px;
    color: $yellow;
    text-transform: uppercase;
}

h6 {
    font-family: $open;
    font-weight: $normal;
    color: $yellow;
}

p {
    font-family: $open;
    font-weight: $normal;
    line-height: 23px;
    font-size: 15px;
    color: $black;
}

figcaption .figure-caption {
    font-family: $poppins;
    font-weight: $bold;
    font-size: 24px;
    color: $blue;
}

a.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}