/* === Typography === */
$open: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$normal: 400;
$semi-bold: 600;
$bold: 700;



/* === Colors === */
$white: #FFFFFF;
$black: #000000;
$yellow: #F1B948;
$blue: #26325C;



/* === Breakpoint === */
// landscape phones
$celular-sm: 576px;
// tablets
$tablet-md: 768px;
// desktops
$notebook-lg: 992px;
//large desktops
$desktop-xl: 1200px;