@charset "UTF-8";
body {
  font-family: '$open', sans-serif !important;
  font-weight: normal;
  line-height: 1; }
  body strong {
    font-weight: bold; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  transition: .5s; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #26325C; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- Prefix Browsers --- */
/* --- Prefix Transitions --- */
/* --- Prefix Radius --- */
/* --- gradients --- */
/* --- Calculate Rem --- */
/* --- Font-size Rem --- */
/* --- Opacity IE --- */
/* --- Background Color Opacity --- */
/* --- Columns --- */
/* --- Contain floats / clearfix --- */
/* --- Center-Block --- */
/* --- Vertical-Center --- */
/* Pull-Center */
/* --- Placeholder --- */
/* --- Breakpoint --- */
/* === Typography === */
/* === Colors === */
/* === Breakpoint === */
h1,
h3,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #26325C; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #26325C; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #F1B948;
  text-transform: uppercase; }

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #F1B948; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 23px;
  font-size: 15px;
  color: #000000; }

figcaption .figure-caption {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #26325C; }

a.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

/* === Typography === */
/* === Colors === */
/* === Breakpoint === */
.btn-metro {
  color: #26325C;
  font-size: 14px;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 30px;
  box-shadow: none !important;
  background-color: #F1B948;
  font-size: 18px;
  line-height: 25px;
  text-align: center; }
  .btn-metro:hover {
    color: #F1B948;
    background-color: #26325C; }

.btn-forms {
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  background-color: #26325C; }
  .btn-forms:hover {
    color: #FFFFFF; }

.btn-link-clean {
  color: #F1B948;
  border: none;
  border-radius: 2px; }
  .btn-link-clean:hover {
    color: #FFFFFF; }

/* === NAVBAR === */
.bg-white {
  background-color: #fff !important; }

.nav-link {
  font-family: '$open', sans-serif;
  color: #26325C !important;
  font-size: 18px;
  line-height: 18px;
  margin-left: 15px; }
  .nav-link:hover {
    color: #F1B948 !important;
    transition: .3s; }

/* === FOOTER === */
#footer {
  padding-top: 3em;
  background-color: #FFFFFF; }
  #footer .brand-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-decoration: none; }
    @media (max-width: 576px) {
      #footer .brand-footer {
        margin-top: 20px; } }
  #footer .address-footer {
    font-size: 18px;
    padding-top: 25px;
    font-family: "Open Sans", sans-serif, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #12204A; }
    #footer .address-footer strong {
      font-size: 24px; }
    @media (max-width: 576px) {
      #footer .address-footer {
        font-size: 11.5px;
        text-align: center;
        padding-left: .5em; } }
  #footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; }
    #footer .social-media h3 {
      color: #fff; }
    #footer .social-media p {
      color: #333; }
    #footer .social-media .fa {
      margin: 0 20px;
      padding: 8px;
      font-size: 20px;
      width: 40px;
      text-align: center;
      text-decoration: none; }
    #footer .social-media .fa:hover {
      opacity: 0.85; }
    #footer .social-media .fa-instagram {
      font-size: 40px;
      color: #F1B948; }
      #footer .social-media .fa-instagram:hover {
        color: #26325C; }
    #footer .social-media .fa-facebook {
      font-size: 40px;
      color: #F1B948; }
      #footer .social-media .fa-facebook:hover {
        color: #26325C; }
    #footer .social-media .fa-twitter {
      font-size: 40px;
      color: #F1B948; }
      #footer .social-media .fa-twitter:hover {
        color: #26325C; }
    #footer .social-media .fa-youtube {
      font-size: 40px;
      color: #F1B948; }
      #footer .social-media .fa-youtube:hover {
        color: #26325C; }
  #footer .copyright {
    font-family: "Open Sans", sans-serif, sans-serif;
    font-size: 18px;
    color: #12204A;
    text-align: center;
    padding: 3rem 0 1em 0; }
    @media (max-width: 576px) {
      #footer .copyright {
        font-size: 14px; } }

body > .container {
  margin-top: 77px; }

/* === BANNER === */
.banner-hero {
  width: 100%;
  height: 674px;
  margin-top: 4em;
  position: relative;
  background: url("../img/bg-banner-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll; }
  @media (max-width: 576px) {
    .banner-hero {
      width: 100%;
      height: 25em;
      background-size: cover;
      background-position: top; } }
  .banner-hero .text-banner {
    padding-top: 245px; }
    @media (max-width: 576px) {
      .banner-hero .text-banner {
        padding-top: 18vh;
        margin-top: 5em; } }
  .banner-hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 77px;
    text-align: right; }
    @media (max-width: 576px) {
      .banner-hero h1 {
        font-size: 42px;
        line-height: 42px;
        text-align: left; } }
  .banner-hero .text-slogan {
    color: #26325C; }

/* === CHAMADAS === */
.sticky-hero {
  margin-top: -75px;
  display: block; }
  @media (max-width: 576px) {
    .sticky-hero {
      margin-top: 20px; } }
  .sticky-hero a {
    text-decoration: none; }
  .sticky-hero .action-col {
    width: 100%; }
    .sticky-hero .action-col button, .sticky-hero .action-col a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      min-height: 150px;
      background-color: #F1B948;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #26325C;
      text-transform: uppercase;
      text-align: center;
      border-radius: 0;
      z-index: 999; }
      .sticky-hero .action-col button:hover, .sticky-hero .action-col a:hover {
        background-color: #26325C;
        color: #F1B948; }

/* === SOBRE === */
.about-border {
  padding: 40px;
  margin: 80px 0 80px 0; }
  @media (max-width: 576px) {
    .about-border {
      margin-top: 40px; } }

h2 {
  font-size: 48px; }

.p-align {
  margin: 1.5em 3em 2em 0; }

/* === MÍDIA === */
#media {
  width: 100%;
  height: auto;
  padding: 40px;
  margin-top: 80px;
  background-image: url("../img/bg-eleitores.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  @media (max-width: 576px) {
    #media {
      margin-top: 60px; } }
  #media h2 {
    color: #F1B948 !important; }
  #media h6 {
    padding-bottom: 5px; }
  #media a {
    text-decoration: none; }
  #media figure {
    display: block; }
    #media figure img {
      width: 100%;
      max-height: 350px;
      display: block; }
    #media figure figcaption {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      color: #26325C;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left; }
    #media figure .figure-caption {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 40px; }

/* === BANDEIRAS === */
#flags .img-flags {
  width: 100%;
  max-height: 320px;
  display: block; }

#flags .legend-flags {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  font-size: 14px; }

#flags i {
  color: #F1B948; }

#flags figcaption {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #26325C;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify;
  text-align-last: left; }

#flags .figure-caption {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px; }

/* === NEWSLETTER === */
#newsletter {
  padding: 80px;
  background-color: #F1B948; }
  @media (max-width: 576px) {
    #newsletter {
      padding: 40px 15px; } }
  #newsletter label {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6c757d;
    text-align: center;
    position: relative; }
  #newsletter input,
  #newsletter select,
  #newsletter textarea {
    color: #000;
    overflow: hidden;
    border-width: 0 0 1px;
    border-bottom-color: #12204A; }

.shadow-title-sma {
  left: 8%;
  color: #000;
  opacity: 0.035;
  line-height: .8;
  font-size: 8.8em;
  font-weight: 700;
  margin-top: 15px;
  position: absolute;
  transform: translate(-100%, -25%); }
  @media (max-width: 576px) {
    .shadow-title-sma {
      transform: translate(-58%, -85%); } }

.form-group label {
  margin-left: 10px;
  display: flex;
  justify-items: flex-start; }

.form-group .form-control {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #6c757d; }
  .form-group .form-control.placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600; }
  .form-group .form-control:-moz-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600; }
  .form-group .form-control::-moz-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600; }
  .form-group .form-control:-ms-input-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600; }
  .form-group .form-control::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600; }

.home .vc_gitem_row > .vc_gitem-col > div:last-child {
  display: none; }

.home .vc_gitem-zone .vc_gitem-col {
  padding: 40px !important; }

.home .post-cat {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #F1B948;
  text-align: left !important;
  margin-bottom: 10px !important; }
  .home .post-cat:hover {
    color: #F1B948; }

.home .vc_gitem-post-category-name:hover {
  background-color: transparent !important; }
  .home .vc_gitem-post-category-name:hover > span {
    color: #F1B948 !important;
    cursor: initial !important; }

.home .post-title h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #26325C;
  text-transform: none !important; }

.home-form {
  text-align: center; }
  .home-form input[type=email], .home-form input[type=tel] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: transparent !important; }
  .home-form input[type=submit] {
    color: #F1B948 !important;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #26325C;
    border-radius: 0;
    background-color: #26325C !important;
    padding: 10px 30px;
    text-align: center; }
    .home-form input[type=submit]:hover {
      color: #26325C !important;
      background-color: #F1B948 !important;
      border-color: #F1B948; }

.social-icons a {
  color: #26325C; }

.post-grid-home div[class*=post_title] > h4 > a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #26325C; }

/* === BANNER === */
.banner-dpt {
  width: 100%;
  height: 674px;
  margin-top: 4em;
  position: relative;
  background: url("../img/bg-banner-deputado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll; }
  @media (max-width: 576px) {
    .banner-dpt {
      width: 100%;
      height: 25em;
      background-size: cover;
      background-position: top; } }
  .banner-dpt .text-banner {
    padding-top: 245px; }
    @media (max-width: 576px) {
      .banner-dpt .text-banner {
        padding-top: 18vh;
        margin-top: 5em; } }
  .banner-dpt h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 77px;
    text-align: right; }
    @media (max-width: 576px) {
      .banner-dpt h1 {
        font-size: 42px;
        line-height: 42px;
        text-align: left; } }
  .banner-dpt .text-slogan {
    color: #26325C; }

#timeline {
  width: 100%;
  margin-top: 40px;
  background-color: #26325c !important; }
  @media (max-width: 576px) {
    #timeline {
      height: 325px; }
      #timeline h2 {
        font-size: 24px; } }

/* === BANNER-BANDEIRAS === */
.bnr-tpc {
  height: 443px;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-page-title.jpg");
  background-size: cover; }
  .bnr-tpc .ttl-tpc {
    display: flex;
    font-size: 64px;
    color: #26325C;
    padding-top: 88px;
    justify-content: center; }
  .bnr-tpc .wpb_button, .bnr-tpc .wpb_content_element, .bnr-tpc ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0 !important; }

#box-rounded-area .vc_custom_1419337784115 {
  opacity: 1 !important;
  background-color: #26325c8c !important; }
  #box-rounded-area .vc_custom_1419337784115 .vc_custom_heading div {
    font-family: "Poppins", sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 36px !important;
    color: #F1B948 !important; }

/* === CHAMADAS-BANDEIRAS === */
#box-rounded-area .box-area {
  margin-top: -200px !important; }
  #box-rounded-area .box-area > .vc_column-inner {
    padding: 50px; }

#box-rounded-area .box-area-row {
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  z-index: 1; }

.gallery ul li {
  overflow: hidden; }
  .gallery ul li figure {
    position: relative;
    background: #FFFFFF; }
    .gallery ul li figure:hover a {
      opacity: 1; }
    .gallery ul li figure:hover .overlay {
      top: 0; }
  .gallery ul li figcaption a {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    width: 100%;
    top: 40%;
    opacity: 0; }
  .gallery ul li figcaption h3 {
    font-size: 22px;
    margin: 0; }
  .gallery ul li figcaption p {
    font-size: 18px; }
  .gallery ul li figcaption a,
  .gallery ul li figcaption .overlay {
    transition: .8s; }
  .gallery ul li figcaption .overlay {
    background-image: linear-gradient(60deg, #26325C, #F1B948);
    opacity: .8;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%; }

.post-bandeiras .vc_grid-item {
  width: 50% !important;
  height: 250px; }
  .post-bandeiras .vc_grid-item .vc_gitem-zone-img, .post-bandeiras .vc_grid-item .vc_grid-item-mini, .post-bandeiras .vc_grid-item .vc_gitem-animated-block, .post-bandeiras .vc_grid-item .vc_gitem-zone, .post-bandeiras .vc_grid-item .vc_gitem-link {
    height: 100%; }
  .post-bandeiras .vc_grid-item .vc_gitem-animated-block > .vc_gitem-zone:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26325C;
    opacity: .8;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light; }
  .post-bandeiras .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    width: 100%;
    padding-right: 30px;
    position: absolute;
    top: 0;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .post-bandeiras .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container {
      display: none; }
    .post-bandeiras .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      color: #F1B948; }
    .post-bandeiras .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.bandeira-atuacao .vc_grid-item {
  height: 80px; }
  .bandeira-atuacao .vc_grid-item .vc_gitem-animated-block {
    display: none; }
  .bandeira-atuacao .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    width: 100%;
    padding-right: 30px;
    position: absolute;
    top: 0;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .bandeira-atuacao .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container {
      display: none; }
    .bandeira-atuacao .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone:before {
      content: '\f054';
      font-family: "Font Awesome 5 Free";
      color: #F1B948;
      font-weight: 600;
      font-size: 18px;
      margin-top: -20px;
      margin-right: 15px; }
    .bandeira-atuacao .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 29px;
      color: #26325C; }
    .bandeira-atuacao .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.bandeira-design .vc_grid-item {
  height: 300px; }
  .bandeira-design .vc_grid-item .vc_gitem-animated-block {
    max-height: 200px; }
    .bandeira-design .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
      max-height: 200px; }
      .bandeira-design .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone a {
        max-height: 200px; }
  .bandeira-design .vc_grid-item .vc_grid-item-mini {
    box-shadow: 10px 10px 0px -1px #d9d9d9; }
    .bandeira-design .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-mini {
      width: 100%; }
    .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
      background-color: transparent !important;
      width: 100%;
      padding-right: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_gitem_row .vc_gitem-col {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
        padding-left: 25px !important; }
        .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_gitem_row .vc_gitem-col > div:last-child {
          display: block !important; }
      .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container {
        display: none; }
      .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone:after {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        color: #F1B948;
        font-weight: 600;
        font-size: 18px; }
      .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 > a {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #26325C; }
      .bandeira-design .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
        display: none; }

@media only screen and (max-width: 768px) {
  #box-rounded-area.vc_custom_1590874390140 {
    padding-right: 0px !important;
    padding-left: 0px !important; }
    #box-rounded-area.vc_custom_1590874390140 .vc_custom_1590874385809 {
      padding-right: 0px !important;
      padding-left: 0px !important; }
    #box-rounded-area.vc_custom_1590874390140 .post-bandeiras .vc_grid-item {
      width: 100% !important; }
      #box-rounded-area.vc_custom_1590874390140 .post-bandeiras .vc_grid-item .vc_gitem-zone div[class*=post_title] > h4 {
        font-size: 30px !important; }
    #box-rounded-area.vc_custom_1590874390140 .bandeira-atuacao .vc_grid-item {
      height: 120px; } }

/* === ÚLTIMAS-PROSPOSTAS === */
.proporsal-title {
  padding-bottom: 25px;
  text-transform: uppercase; }

.block-text h5 {
  padding: .65em;
  font-size: 24px;
  color: #FFFFFF; }

.last-proporsal {
  padding: 20px;
  margin-top: 40px;
  border: 5px solid #233F94; }

.proporsal-gallery {
  margin-bottom: 30px; }
  .proporsal-gallery img {
    width: 100%;
    max-height: 400px; }

.proporsal-gallery .block-text {
  top: 0;
  left: 15px;
  margin: 0;
  padding: .35em;
  position: absolute; }

.proporsal-gallery .block-text small {
  display: block; }

.nav-pills .nav-link.active {
  border-radius: 0;
  color: #fff !important;
  background-color: #233F94; }

.action-link {
  width: 350px;
  height: 120px;
  padding: 40px 40px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #12204A; }
  .action-link a {
    color: #fff;
    text-decoration: none; }
  .action-link .description-l {
    top: 65px;
    left: 30px;
    padding-right: 40px;
    font-size: 12px;
    text-decoration: none;
    position: absolute; }
  .action-link .description-r {
    top: 20px;
    left: -15px;
    margin-right: -45px;
    font-size: 12px;
    text-decoration: none;
    position: relative; }

.action-paragraph {
  top: 25px;
  left: 30px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif; }

.posts-atuacao .vc_gitem-animated-block {
  display: none; }

.posts-atuacao .vc_grid-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .posts-atuacao .vc_grid-filter .vc_grid-filter-item {
    margin-left: 10px !important;
    padding: 3px 10px !important;
    border: 1px solid #F1B948 !important;
    border-radius: 0 !important; }
    .posts-atuacao .vc_grid-filter .vc_grid-filter-item.vc_active {
      background-color: #F1B948 !important; }
  .posts-atuacao .vc_grid-filter:before {
    content: 'Filtrar por';
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-right: 10px; }

.posts-atuacao .vc_grid-item {
  max-width: calc(50% - 30px);
  height: 100px;
  border: 1px solid #F1B948;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px !important; }
  .posts-atuacao .vc_grid-item .meta-tag {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F1B948;
    margin-bottom: 5px; }
  .posts-atuacao .vc_grid-item .vc_gitem-link {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #26325C; }
  .posts-atuacao .vc_grid-item:after {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F1B948;
    float: right;
    margin-top: -55px;
    margin-right: 15px; }
  .posts-atuacao .vc_grid-item:nth-child(odd) {
    margin-right: 30px;
    margin-bottom: 30px; }
  .posts-atuacao .vc_grid-item:hover {
    border: 1px solid #26325C;
    background-color: #26325C; }
    .posts-atuacao .vc_grid-item:hover .vc_gitem-link {
      color: white; }

#first-atuaction-post .vc_grid-item {
  width: 100% !important;
  height: 500px; }
  #first-atuaction-post .vc_grid-item .vc_gitem-zone-img, #first-atuaction-post .vc_grid-item .vc_grid-item-mini, #first-atuaction-post .vc_grid-item .vc_gitem-animated-block, #first-atuaction-post .vc_grid-item .vc_gitem-zone, #first-atuaction-post .vc_grid-item .vc_gitem-link {
    height: 100%; }
  #first-atuaction-post .vc_grid-item .vc_gitem-animated-block > .vc_gitem-zone:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #26325C, rgba(0, 0, 0, 0));
    opacity: .7;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light; }
  #first-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    max-width: 500px;
    padding: 30px;
    position: absolute;
    top: 0; }
    #first-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a {
      background-color: transparent !important;
      padding: 0;
      color: #F1B948;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px; }
      #first-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a:after {
        content: '\f061';
        font-family: "Font Awesome 5 Free";
        color: #F1B948;
        font-weight: 600;
        font-size: 18px;
        margin-left: 10px; }
    #first-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      color: white; }
    #first-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.second-atuaction-post .vc_grid-item {
  width: 50% !important;
  height: 250px; }
  .second-atuaction-post .vc_grid-item .vc_gitem-zone-img, .second-atuaction-post .vc_grid-item .vc_grid-item-mini, .second-atuaction-post .vc_grid-item .vc_gitem-animated-block, .second-atuaction-post .vc_grid-item .vc_gitem-zone, .second-atuaction-post .vc_grid-item .vc_gitem-link {
    height: 100%; }
  .second-atuaction-post .vc_grid-item .vc_gitem-animated-block > .vc_gitem-zone:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #26325C, rgba(0, 0, 0, 0));
    opacity: .7;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light; }
  .second-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    max-width: 500px;
    padding: 30px;
    position: absolute;
    top: 0; }
    .second-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a {
      background-color: transparent !important;
      padding: 0;
      color: #F1B948;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px; }
      .second-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a:after {
        content: '\f061';
        font-family: "Font Awesome 5 Free";
        color: #F1B948;
        font-weight: 600;
        font-size: 18px;
        margin-left: 10px; }
    .second-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      color: white; }
    .second-atuaction-post .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.post-navigation .screen-reader-text {
  display: none; }

.post-navigation .nav-links {
  display: flex;
  justify-content: space-between; }
  .post-navigation .nav-links a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #F1B948; }

.estatisticas .border-divider {
  border-right: 1px solid white; }

.estatisticas > div:last-child .border-divider {
  border-right: none; }

@media only screen and (max-width: 768px) {
  #box-rounded-area .box-area {
    margin-left: -15px;
    margin-right: -15px;
    width: 100vw; }
  .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
    margin-right: 0px !important; }
  #box-rounded-area .box-area > .vc_column-inner {
    padding: 15px !important; }
  .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item {
    padding-right: 0px !important; }
  .second-atuaction-post .vc_grid-item {
    width: 100% !important; }
  .estatisticas .border-divider {
    border-right: none !important;
    border-bottom: 1px solid white;
    margin-bottom: 0 !important;
    padding-bottom: 35px !important; }
  .estatisticas > div:last-child .border-divider {
    border-bottom: none; }
  .posts-atuacao .vc_grid-item {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px !important; }
    .posts-atuacao .vc_grid-item:nth-child(odd) {
      margin-right: 0px;
      margin-bottom: 0px; }
  .post-template-post-atuacao #box-rounded-area .container {
    padding: 0; }
  .post-template-post-atuacao #box-rounded-area .box-area {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important; }
  .post-template-post-atuacao .bnr-tpc .ttl-tpc {
    font-size: 54px; }
  .post-template-post-atuacao .entry-content {
    padding: 30px 15px !important; } }

.agenda-border {
  padding: 50px;
  margin-top: 30px;
  border: 5px solid #233F94; }
  @media (max-width: 576px) {
    .agenda-border {
      margin-top: 40px; } }

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: .25rem; }
  .breadcrumb i {
    color: #26325C;
    padding: 0 5em; }
  .breadcrumb .fa-angle-left,
  .breadcrumb .fa-angle-right {
    font-size: 1em; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #26325C !important;
  content: ""; }

.first-post-midia .vc_grid-item {
  height: 300px; }
  .first-post-midia .vc_grid-item .vc_gitem-zone-img, .first-post-midia .vc_grid-item .vc_grid-item-mini, .first-post-midia .vc_grid-item .vc_gitem-animated-block, .first-post-midia .vc_grid-item .vc_gitem-zone, .first-post-midia .vc_grid-item .vc_gitem-link {
    height: 100%; }
  .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    max-width: 500px;
    padding: 30px;
    position: absolute;
    top: 0; }
    .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a {
      background-color: transparent !important;
      padding: 0;
      color: #26325C;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 10px 20px;
      background-color: #F1B948 !important;
      border-radius: 0;
      border: 1px solid #F1B948;
      background-image: none; }
      .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a:hover {
        color: #F1B948;
        background-color: #26325C !important;
        border-color: #26325C; }
    .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 29px;
      text-transform: capitalize;
      color: #26325C; }
    .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=category-name] {
      text-align: left;
      width: 100%; }
      .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=category-name] > span {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #F1B948; }
    .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.videos-post-midia div[class*=post_title] > h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #26325C; }

.midia-page-link {
  height: 100px;
  border: 1px solid #F1B948;
  display: flex;
  justify-content: center;
  align-items: center; }
  .midia-page-link a {
    padding: 25px 65px 25px 40px; }
  .midia-page-link .category {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F1B948;
    margin-bottom: 5px; }
  .midia-page-link .button-title {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #26325C; }
  .midia-page-link:hover {
    border: 1px solid #26325C;
    background-color: #26325C; }
    .midia-page-link:hover .button-title {
      color: white; }
  .midia-page-link:after {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F1B948;
    float: right;
    position: absolute;
    right: 40px;
    z-index: -5; }

.videos-post-blog .vc_grid-item {
  height: 300px; }
  .videos-post-blog .vc_grid-item .vc_gitem-zone-img, .videos-post-blog .vc_grid-item .vc_grid-item-mini, .videos-post-blog .vc_grid-item .vc_gitem-animated-block, .videos-post-blog .vc_grid-item .vc_gitem-zone, .videos-post-blog .vc_grid-item .vc_gitem-link, .videos-post-blog .vc_grid-item .vc_gitem-zone-mini, .videos-post-blog .vc_grid-item .vc_gitem_row, .videos-post-blog .vc_grid-item .vc_gitem-col {
    height: 100%; }
  .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    background-color: transparent !important;
    max-width: 500px; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_gitem-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a {
      background-color: transparent !important;
      padding: 0;
      color: #26325C;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 10px 20px;
      background-color: #F1B948 !important;
      border-radius: 0;
      border: 1px solid #F1B948;
      background-image: none; }
      .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone .vc_btn3-container a:hover {
        color: #F1B948;
        background-color: #26325C !important;
        border-color: #26325C; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_title] > h4 {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 29px;
      text-transform: capitalize;
      color: #F1B948; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=category-name] {
      text-align: left;
      width: 100%; }
      .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=category-name] > span {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #F1B948; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post-data] > div {
      color: white; }
    .videos-post-blog .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone div[class*=post_excerpt] {
      display: none; }

.vc_grid-btn-load_more a {
  color: #26325C !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
  font-size: 18px; }
  .vc_grid-btn-load_more a:hover {
    color: #F1B948 !important;
    background-color: #26325C !important;
    border-color: #26325C; }

.post-image {
  margin-top: 30px;
  margin-bottom: 30px; }
  .post-image img {
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 768px) {
  .first-post-midia .vc_grid-item-mini {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center; }
  .first-post-midia .vc_gitem-animated-block {
    width: 100% !important;
    max-height: 300px; }
    .first-post-midia .vc_gitem-animated-block .vc_gitem-zone {
      max-height: 300px; }
      .first-post-midia .vc_gitem-animated-block .vc_gitem-zone img {
        max-height: 300px; }
  .first-post-midia .vc_grid-item .vc_grid-item-mini > .vc_gitem-zone {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0px;
    position: unset !important;
    top: unset !important; }
  .first-post-midia .vc_grid-item {
    height: 100%;
    padding-bottom: 0px !important; }
  #midia-page-link .wpb_content_element {
    margin-bottom: 0px !important; }
  #midia-page-link .wpb_column:last-child .wpb_content_element {
    margin-bottom: 35px !important; }
  #midia-page-link .midia-page-link a {
    padding: 25px 35px 25px 10px; }
  .post-template-post-galery #box-rounded-area .container {
    padding: 0; }
  .post-template-post-galery #box-rounded-area .box-area {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important; }
  .post-template-post-galery .entry-content {
    padding: 30px 15px !important; }
  .wpb_image_grid_ul li {
    position: unset !important;
    top: unset !important;
    left: unset !important;
    max-width: 49% !important; }
  .post-template-post-blog #box-rounded-area .container {
    padding: 0; }
  .post-template-post-blog #box-rounded-area .box-area {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important; }
  .post-template-post-blog .entry-content {
    padding: 30px 15px !important; } }

.participe-form input[type=email], .participe-form input[type=tel] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 40px;
  width: 100%;
  margin-bottom: 20px; }

.participe-form input[type=submit] {
  color: #26325C !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #F1B948;
  border-radius: 0;
  background-color: #F1B948 !important;
  padding: 10px 30px; }
  .participe-form input[type=submit]:hover {
    color: #F1B948 !important;
    background-color: #26325C !important;
    border-color: #26325C; }

.contact-form {
  text-align: center; }
  .contact-form input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px !important;
    background-color: transparent !important; }
  .contact-form textarea {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px !important;
    background-color: transparent !important; }
  .contact-form input[type=submit] {
    color: #F1B948 !important;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #26325C;
    border-radius: 0;
    background-color: #26325C !important;
    padding: 10px 30px;
    text-align: center;
    max-width: 120px; }
    .contact-form input[type=submit]:hover {
      color: #26325C !important;
      background-color: #F1B948 !important;
      border-color: #F1B948; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black; }
