body {
    font-family: '$open', sans-serif !important;
    font-weight: normal;
    line-height: 1
}

body strong {
    font-weight: bold
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

a {
    transition: .5s
}

a:hover,
a:focus {
    text-decoration: none !important;
    color: #26325C
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none
}

q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,
h3,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #26325C
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #26325C
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #F1B948;
    text-transform: uppercase
}

h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #F1B948
}

figcaption .figure-caption {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #26325C
}

a.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600
}

.btn-metro {
    color: #26325C;
    font-size: 14px;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 2px;
    background-color: #F1B948
}

.btn-metro:hover {
    color: #F1B948;
    background-color: #26325C
}

.btn-forms {
    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: #26325C
}

.btn-forms:hover {
    color: #FFFFFF
}

.bg-white {
    background-color: #fff !important
}

.nav-link {
    font-family: '$open', sans-serif;
    color: #26325C !important;
    font-size: 14px;
    margin-left: 15px
}

.nav-link:hover {
    color: #F1B948 !important;
    transition: .3s
}

#footer {
    padding-top: 3em;
    background-color: #FFFFFF
}

#footer .brand-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-decoration: none
}

@media (max-width: 576px) {
    #footer .brand-footer {
        margin-top: 20px
    }
}

#footer .address-footer {
    font-size: 14px;
    padding-top: 25px;
    font-family: "Open Sans", sans-serif, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #12204A
}

@media (max-width: 576px) {
    #footer .address-footer {
        font-size: 11.5px;
        text-align: center;
        padding-left: .5em
    }
}

#footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}

#footer .social-media h3 {
    color: #fff
}

#footer .social-media p {
    color: #333
}

#footer .social-media .fa {
    margin: 0 20px;
    padding: 8px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none
}

#footer .social-media .fa:hover {
    opacity: 0.85
}

#footer .social-media .fa-instagram {
    font-size: 40px;
    color: #F1B948
}

#footer .social-media .fa-instagram:hover {
    color: #26325C
}

#footer .social-media .fa-facebook {
    font-size: 40px;
    color: #F1B948
}

#footer .social-media .fa-facebook:hover {
    color: #26325C
}

#footer .social-media .fa-twitter {
    font-size: 40px;
    color: #F1B948
}

#footer .social-media .fa-twitter:hover {
    color: #26325C
}

#footer .social-media .fa-youtube {
    font-size: 40px;
    color: #F1B948
}

#footer .social-media .fa-youtube:hover {
    color: #26325C
}

#footer .copyright {
    color: #12204A;
    text-align: center;
    padding: 3rem 0 1em 0
}

@media (max-width: 576px) {
    #footer .copyright {
        font-size: 14px
    }
}

.banner-hero {
    width: 100%;
    height: 674px;
    margin-top: 4em;
    position: relative;
    background: url("../img/bg-banner-home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll
}

@media (max-width: 576px) {
    .banner-hero {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-position: top
    }
}

.banner-hero .text-banner {
    padding-top: 245px
}

@media (max-width: 576px) {
    .banner-hero .text-banner {
        padding-top: 18vh;
        margin-top: 5em
    }
}

.banner-hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 77px;
    text-align: right
}

@media (max-width: 576px) {
    .banner-hero h1 {
        font-size: 42px;
        line-height: 42px;
        text-align: left
    }
}

.banner-hero .text-slogan {
    color: #26325C
}

.sticky-hero {
    margin-top: -75px;
    display: block
}

@media (max-width: 576px) {
    .sticky-hero {
        margin-top: 20px
    }
}

.sticky-hero a {
    text-decoration: none
}

.sticky-hero .action-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 150px;
    background-color: #F1B948
}

.sticky-hero .action-title {
    font-family: '$poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #26325C;
    text-transform: uppercase;
    text-align: center
}

.about-border {
    padding: 40px;
    margin: 80px 0 80px 0
}

@media (max-width: 576px) {
    .about-border {
        margin-top: 40px
    }
}

h2 {
    font-size: 48px
}

.p-align {
    margin: 1.5em 3em 2em 0
}

#media {
    width: 100%;
    height: auto;
    padding: 40px;
    margin-top: 80px;
    background-image: url("../img/bg-eleitores.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

@media (max-width: 576px) {
    #media {
        margin-top: 60px
    }
}

#media h2 {
    color: #F1B948 !important
}

#media h6 {
    padding-bottom: 5px
}

#media a {
    text-decoration: none
}

#media figure {
    display: block
}

#media figure img {
    width: 100%;
    max-height: 300px;
    display: block
}

#media figure figcaption {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #26325C;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left
}

#media figure .figure-caption {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 40px
}

#flags .img-flags {
    width: 100%;
    max-height: 320px;
    display: block
}

#flags .legend-flags {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-size: 14px
}

#flags i {
    color: #F1B948
}

#flags figcaption {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #26325C;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: justify;
    text-align-last: left
}

#flags .figure-caption {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px
}

#newsletter {
    padding: 80px;
    background-color: #F1B948
}

@media (max-width: 576px) {
    #newsletter {
        padding: 40px 15px
    }
}

#newsletter label {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6c757d;
    text-align: center;
    position: relative
}

#newsletter input,
#newsletter select,
#newsletter textarea {
    color: #000;
    overflow: hidden;
    border-width: 0 0 1px;
    border-bottom-color: #12204A
}

.shadow-title-sma {
    left: 8%;
    color: #000;
    opacity: 0.035;
    line-height: .8;
    font-size: 8.8em;
    font-weight: 700;
    margin-top: 15px;
    position: absolute;
    transform: translate(-100%, -25%)
}

@media (max-width: 576px) {
    .shadow-title-sma {
        transform: translate(-58%, -85%)
    }
}

.form-group label {
    margin-left: 10px;
    display: flex;
    justify-items: flex-start
}

.form-group .form-control {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #6c757d
}

.form-group .form-control.placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600
}

.form-group .form-control:-moz-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600
}

.form-group .form-control::-moz-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600
}

.form-group .form-control:-ms-input-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600
}

.form-group .form-control::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #12204A;
    font-weight: 600
}

.banner-dpt {
    width: 100%;
    height: 674px;
    margin-top: 4em;
    position: relative;
    background: url("../img/bg-banner-deputado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll
}

@media (max-width: 576px) {
    .banner-dpt {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-position: top
    }
}

.banner-dpt .text-banner {
    padding-top: 245px
}

@media (max-width: 576px) {
    .banner-dpt .text-banner {
        padding-top: 18vh;
        margin-top: 5em
    }
}

.banner-dpt h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 77px;
    text-align: right
}

@media (max-width: 576px) {
    .banner-dpt h1 {
        font-size: 42px;
        line-height: 42px;
        text-align: left
    }
}

.banner-dpt .text-slogan {
    color: #26325C
}

#timeline {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: linear-gradient(#233F94, #12204A);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll
}

@media (max-width: 576px) {
    #timeline {
        height: 325px
    }

    #timeline h2 {
        font-size: 24px
    }
}

.bnr-tpc {
    height: 520px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #2a5298, #1e3c72)
}

.bnr-tpc .ttl-tpc {
    display: flex;
    font-size: 64px;
    color: #FFFFFF;
    padding-top: 165px;
    justify-content: center
}

#box-rounded-area .box-area {
    margin-top: -200px !important;
    padding: 50px
}

#box-rounded-area .box-area-row {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1
}

.gallery ul li {
    overflow: hidden
}

.gallery ul li figure {
    position: relative;
    background: #fff
}

.gallery ul li figure:hover a {
    opacity: 1
}

.gallery ul li figure:hover .overlay {
    top: 0
}

.gallery ul li figcaption a {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 100%;
    top: 40%;
    opacity: 0
}

.gallery ul li figcaption h3 {
    font-size: 22px;
    margin: 0
}

.gallery ul li figcaption p {
    font-size: 18px
}

.gallery ul li figcaption a,
.gallery ul li figcaption .overlay {
    transition: .8s
}

.gallery ul li figcaption .overlay {
    background-image: linear-gradient(60deg, #26325C, #F1B948);
    opacity: .8;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%
}

.proporsal-title {
    padding-bottom: 25px;
    text-transform: uppercase
}

.block-text h5 {
    padding: .65em;
    font-size: 14px;
    color: #233F94;
    background-color: rgba(249, 193, 52, 0.85)
}

.last-proporsal {
    padding: 20px;
    margin-top: 40px;
    border: 5px solid #233F94
}

.proporsal-gallery {
    margin-bottom: 30px
}

.proporsal-gallery .block-text {
    top: 0;
    left: 15px;
    margin: 0;
    padding: .35em;
    position: absolute
}

.proporsal-gallery .block-text small {
    display: block
}

.nav-pills .nav-link.active {
    border-radius: 0;
    color: #fff !important;
    background-color: #233F94
}

.action-link {
    width: 350px;
    height: 120px;
    padding: 40px 40px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #12204A
}

.action-link a {
    color: #fff;
    text-decoration: none
}

.action-link .description-l {
    top: 65px;
    left: 30px;
    padding-right: 40px;
    font-size: 12px;
    text-decoration: none;
    position: absolute
}

.action-link .description-r {
    top: 20px;
    left: -15px;
    margin-right: -45px;
    font-size: 12px;
    text-decoration: none;
    position: relative
}

.action-paragraph {
    top: 25px;
    left: 30px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif
}

.agenda-border {
    padding: 50px;
    margin-top: 30px;
    border: 5px solid #233F94
}

@media (max-width: 576px) {
    .agenda-border {
        margin-top: 40px
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem
}

.breadcrumb i {
    color: #26325C;
    padding: 0 5em
}

.breadcrumb .fa-angle-left,
.breadcrumb .fa-angle-right {
    font-size: 1em
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #26325C !important;
    content: ""
}